/* global class names */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a,
button {
  all: unset;
}

:root {
  --color-blue: #30376A;
  --color-orange: #FF6826;
  --color-white: #fff;
  --color-black: #000;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

section {
  padding: 10px 20px
}

.title {
  font-family: 'Merienda One', cursive;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* header */

.logo {
  width: 200px;
}

/* about section */

/* profile picture */

.profile-pic {
  width: 300px;
}

.abt-title {
  color: var(--color-blue);
}

.abt-ctn-2 {
  gap: 5px;
}

/* sessions section */

.sct-sessions {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.ses-title {
  color: var(--color-white);
}

.ses-carousel-ctn {
  box-sizing: border-box;
  max-width: 85vw;
}

/* Swiper */

.swiper-ctn {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.carousel-pic {
  width: 100%;
  overflow: hidden;
}


/* Swiper buttons */

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--color-orange)
}

span.swiper-pagination-bullet {
  background-color: var(--color-white);
}


/* book session */

.sct-book {
  align-items: center;
}

.bk-title {
  color: var(--color-blue);
}

.calendly-widget {
  overflow: hidden;
}

.book-btn {
  background-color: var(--color-orange);
  width: 200px;
  height: 50px;
  color: var(--color-white);
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.book-btn:hover {
  background-color: rgb(255, 233, 219);
  color: var(--color-orange);
  border: solid -2px var(--color-orange);
  transition: all ease 0.2s;
}

.bk-reviews-ctn {
  width: 100%;
}

/* contact session */

.sct-contact {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* global */

.oh {
  overflow: hidden;
}

.ck {
  cursor: pointer;
}