/* global class names */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a,
button {
  all: unset;
}

:root {
  --color-blue: #30376A;
  --color-orange: #FF6826;
  --color-orange-light: #ffccb6;
  --color-white: #fff;
  --color-black: #000;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

section {
  padding: 20px 20px
}

.title {
  font-family: 'Merienda One', cursive;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* header */

.sct-header {
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0;
}

.logo {
  width: 200px;
}

/* navbar */

.navbar-list {
  gap: 18px;
}

.navbar-item {
  font-family: 'Merienda One', cursive;
  color: var(--color-blue);
  font-size: 25px;
  transition: all ease 0.2s;
}

.navbar-item:hover {
  color: var(--color-orange);
  transition: all ease 0.2s;
}

/* about section */

.sct-about {
  padding-bottom: 25px;
  gap: 10px;
  align-items: center;
}

.profile-pic {
  width: 300px;
}

.abt-title {
  color: var(--color-blue);
}

.abt-ctn-2 {
  gap: 20px;
}

/* sessions section */

.sct-sessions {
  background-color: var(--color-blue);
  color: var(--color-white);
  gap: 15px;
  align-items: center;
}

.ses-title {
  color: var(--color-white);
}

.ses-carousel-ctn {
  box-sizing: border-box;
  max-width: 85vw;
  align-items: center;
}

/* Swiper */

.swiper-ctn {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.carousel-pic {
  width: 100%;
  overflow: hidden;
}


/* Swiper buttons */

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--color-orange)
}

span.swiper-pagination-bullet {
  background-color: var(--color-white);
}


/* book session */

.sct-book {
  align-items: center;
  gap: 15px;
}

.bk-title {
  color: var(--color-blue);
}

.calendly-widget {
  overflow: hidden;
}

.book-btn {
  background-color: var(--color-orange);
  width: 200px;
  height: 50px;
  color: var(--color-white);
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.book-btn:hover {
  background-color: rgb(255, 233, 219);
  color: var(--color-orange);
  border: solid -2px var(--color-orange);
  transition: all ease 0.2s;
}

.bk-reviews-ctn {
  width: 100%;
}

.bk-disclaimer {
  font-size: 12px;
}

.reviews-title {
  margin-bottom: -25px;
}

.romw-outer-wrapper {
  padding: 25px 60px;
}

/* contact session */

.sct-contact {
  background-color: var(--color-blue);
  color: var(--color-white);
  gap: 6px;
}

.icon-ws {
  width: 40px;
}

.icon-ws:hover {
  filter: brightness(1.1);
}

.icon-ws img {
  filter: invert(61%) sepia(56%) saturate(588%) hue-rotate(90deg) brightness(96%) contrast(94%);
}

.ws-msg-group1 {
  justify-content: center;
  align-items: center;
}

/* Form */

.form {
  gap: 15px;
  padding: 15px 0;
}

.form input,
.form textarea {
  border-radius: 10px;
  padding: 7px 10px;
}

.error-text,
.msg-sent {
  color: var(--color-orange);
}

.form .form-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: none;
  transition: all ease 0.2s;
}

.form .form-btn:hover {
  background-color: rgb(255, 233, 219);
  color: var(--color-orange);
  border: solid -2px var(--color-orange);
  transition: all ease 0.2s;
}

/* Contact Info */

.contact-info-box {
  gap: 20px;
}

.contact-info-link {
  color: var(--color-blue-dark);
  transition: all ease 0.2s;
}

.contact-info-link:hover {
  color: var(--color-orange);
  transition: all ease 0.2s;
}

.contact-ws-ctn {
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ws-msg-group1,
.icon-ws {
  flex: 1;
}

.ws-msg-group1 {
  align-items: flex-end;
}

.icon-ws {
  text-align: left;
}

.icon-ws img {
  width: 40px;
}

.contact-info-ctn {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* footer section */

.sct-footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 12px;
  margin-top: -2px;
}

.orozcoding {
  color: var(--color-orange);
  transition: all ease 0.2s;
}

.orozcoding:hover {
  font-size: 12.5px;
  transition: all ease 0.2s;
}

/* global */

.oh {
  overflow: hidden;
}

.ck {
  cursor: pointer;
}


/* DESKTOP VERSION */

@media screen and (min-width: 600px) {

  .sct-header {
    flex-direction: row;
  }

  .sct-about {
    padding: 60px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .abt-ctn-1 {
    order: 2;
    width: 50%;
  }

  .abt-ctn-1 img {
    width: 500px;
  }

  .abt-ctn-2 {
    order: 1;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .abt-text-wrapper {
    min-width: 300px;
    max-width: 500px;
    gap: 20px;
  }
}

@media screen and (max-width: 1000px ) {
  .abt-ctn-1 img {
    width: 400px;
  }
}

@media screen and (max-width: 900px ) {
  .abt-ctn-1 img {
    width: 300px;
  }

  .sct-about {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px ) {
  .abt-ctn-1 img {
    width: 250px;
  }

  .sct-about {
    font-size: 13px;
  }
}